.options-page {
padding: 20px;
  .opts {
  }
  .buttons {

    button:last-child{
      margin-left: 10px;
    }
  }
  .version {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px; 
  }
}
